* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.carousel-item {
    transition: transform 2.0s ease, opacity .5s ease-out ;
    
}

.carousel-contenedor {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    height: 50%;
}

@media (min-width: 768px) {
    .carousel-contenedor {
        width: 60%;
        max-width: 100%;
    }
}

.carousel img {
    width: 100%;
    height: ; /* Mantiene la proporción de las imágenes */
}