* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    background-color: transparent;
}

html, body {
    height: auto;
}

/* Contenedor CL */

/* Logo Presentacion */

.logo-presentacion {
    position: relative;
    text-align: center;
    font-size: 50px;
    z-index: 10;
    background-color: transparent;
    width: 40%;
    margin: 20px auto;
}

.logo-presentacion img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    border-radius: 100%;
    margin: 10px;
}

.logo-presentacion p {
    background-color: rgb(255, 255, 255, 0.2);
    padding: 10px;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}


/* Navbar */

nav img {
    width: 40px;
    height: 40px;
}

/* Carousel */

.carousel {
    height: 500px;
    margin: 0 auto;
}

.carousel-item {
    position: relative;
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que ocupe todo el alto del contenedor */
    
}
  
.carousel-item img {
    width: 100%; /* Adapta la imagen al ancho del contenedor */
    height: 100%; /* Adapta la imagen al alto del contenedor */
    object-fit: cover; /* Mantiene el aspecto proporcional y llena el contenedor */
}

@media (max-width: 576px) {
    .carousel-item {
        height: 1000px;
    }
}

@media (max-width: 768px) {
    .carousel-item {
        height: 1000px;
    }
}

/* Footer */

.icono-footer {
    width: 30px;
    height: 30px;
}

footer, .contenedor-footer {
    background-color: transparent;
}

/* Seccion: Significado del arte */



section .seccion-descripcion {
    margin-top: 40px;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding-bottom: 5px;

}

@media (max-width: 576px) {
    section .seccion-descripcion {
      width: 85%; /* Reduce el ancho en pantallas pequeñas */
    }
  }

section .seccion-descripcion h1 {
    background-color: rgb(166, 218, 200);
    text-align: center;
    margin: 0px auto;
    position: relative;
    width: 100%;
    max-width: 2000px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
}

section .seccion-descripcion p {
    margin: 15px 15px 15px 15px;
    text-align: justify;
    padding: 10px auto;
}

section .seccion-descripcion, p {
    background-color: rgb(255, 255, 255);
}

/* Efecto Parallax */

/* Contenedor del fondo Parallax */

.parallax {
    background-image: url('./fondo-parallax/pexels-francesco-ungaro-1526713.png'); /* Cambia esta URL a tu imagen */
    height: 100%; /* Ocupa toda la altura del viewport */
    background-attachment: fixed; /* Clave para el efecto Parallax */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Escala la imagen para cubrir toda el área */
}

/* Cartas */

.carta-contenedor {
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
}

.carta-contenedor .card {
    margin: 40px auto;
}

.carta-contenedor .card .card-text {
    background-color: transparent;
}